source https://www.nuget.org/api/v2
source https://ci.appveyor.com/nuget/jsonld-entities-aavhsnxi7xjp
source https://ci.appveyor.com/nuget/nancy-rdf-kh5o73kjrn37
source https://ci.appveyor.com/nuget/argolis-hydra

framework: net40, net45
content: none
redirects: on
copy_local: true

nuget Anotar.Custom.Fody
nuget FakeItEasy
nuget json-ld.net
nuget Microsoft.CodeDom.Providers.DotNetCompilerPlatform 1.0.0 framework: >= net45
nuget Microsoft.Net.Compilers 1.0.0 framework: >= net45
nuget Nancy.Owin
nuget Nancy.Testing
nuget r2rml4net 0.4.0.0-pre01
nuget Resourcer.Fody
nuget SpecFlow.NUnit
nuget StyleCopPlus.MSBuild
nuget GitVersionTask
nuget HtmlAgilityPack
nuget FluentAssertions
nuget dotNetRDF
nuget infoof.fody
nuget JsonLd.Entities
nuget Nancy.RDF prerelease
nuget NullGuard.Fody
nuget ImpromptuInterface
nuget NDbUnit.SqlClient
nuget ImageResizer
nuget jsonld.entities > 0.3 prerelease
nuget JetBrainsAnnotations.Fody
nuget ModuleInit.Fody
nuget Microsoft.Owin.Host.SystemWeb
nuget Microsoft.Owin.Hosting
nuget nunit < 3
nuget System.Data.SqlLocalDb
nuget Argolis prerelease
nuget Argolis.Nancy prerelease

git https://gist.github.com/5d9c6983004c1c9ec91f.git