source https://www.nuget.org/api/v2
source https://ci.appveyor.com/nuget/jsonld-entities-aavhsnxi7xjp
source https://ci.appveyor.com/nuget/nancy-rdf-kh5o73kjrn37

framework: net40, net45
content: none
redirects: on

nuget Anotar.Custom.Fody 2.12.0
nuget FakeItEasy 1.24.0
nuget json-ld.net 1.0.3
nuget Nancy.Owin
nuget Nancy.Testing
nuget r2rml4net 0.4.0.0-pre01
nuget Resourcer.Fody 1.2.0.0
nuget SpecFlow.NUnit 1.1.1
nuget StyleCopPlus.MSBuild 4.7.49.4
nuget Zoltu.Versioning 1.1.29.0
nuget HtmlAgilityPack
nuget FluentAssertions
nuget dotNetRDF
nuget infoof.fody
nuget JsonLd.Entities
nuget Nancy.RDF
nuget NullGuard.Fody
nuget ImpromptuInterface
nuget NDbUnit.SqlClient
nuget CodeAssassin.ConfigTransform
nuget ImageResizer
nuget jsonld.entities
nuget JetBrainsAnnotations.Fody
nuget ModuleInit.Fody
nuget Microsoft.Owin.Host.HttpListener
nuget Microsoft.Owin.Hosting
nuget nunit < 3
nuget System.Data.SqlLocalDb

gist tpluscode/5d9c6983004c1c9ec91f

http http://www.w3.org/ns/hydra/context.jsonld
