<?xml version="1.0"?>

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
    <connectionStrings configProtectionProvider="RsaProtectedConfigurationProvider" xdt:Transform="Replace">
        <EncryptedData Type="http://www.w3.org/2001/04/xmlenc#Element"
            xmlns="http://www.w3.org/2001/04/xmlenc#">
            <EncryptionMethod Algorithm="http://www.w3.org/2001/04/xmlenc#tripledes-cbc" />
            <KeyInfo xmlns="http://www.w3.org/2000/09/xmldsig#">
                <EncryptedKey xmlns="http://www.w3.org/2001/04/xmlenc#">
                    <EncryptionMethod Algorithm="http://www.w3.org/2001/04/xmlenc#rsa-1_5" />
                    <KeyInfo xmlns="http://www.w3.org/2000/09/xmldsig#">
                        <KeyName>Rsa Key</KeyName>
                    </KeyInfo>
                    <CipherData>
                        <CipherValue>yVIEMwuPZ9ThcAgQ08JqDzsX7zOJlF5VEL0iYXtqXFCCQj2HLfxMq1KMMvMAP3hJe3NJt0bYFc69FMd+sZgtKIkd4xCtjqnHLlNg8we9rGoGZ/NC9URuF3EOOLnsuUc74xPd13qZYi6RN0G2XcQ/ZzMy+NdyIkbO960toqwfZRo=</CipherValue>
                    </CipherData>
                </EncryptedKey>
            </KeyInfo>
            <CipherData>
                <CipherValue>Q81qyKhS3/+OkH8O/YEVdNRmuH6ygYXN3b9Np5PRf2F0YQmla8dHVAGMl+jIl443DmM8RN3H6Su/lfmk94ux6z3SwDSWQs2CdFxKpTkl45l4dK1QTC2WIh5goy7skov9GYkkDpI/ySqJZ1YcYc0t4fDCoqSBLKPsE+w4Ick75PJtNL3ZrBEikmJWxsk8hmQOeb7jgiQUAH0uKl9DDojXXG4PCPbaZZ633ShSklkUWtJ1xoiqR7C0iTg+BaOqlaTN+5lz0tljuEgnlUq8I594Q1t5F1kaSUVQ</CipherValue>
            </CipherData>
        </EncryptedData>
    </connectionStrings>
    <system.web>
        <compilation xdt:Transform="RemoveAttributes(debug)" />
    </system.web>
</configuration>