<?xml version="1.0" encoding="utf-8"?>

<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <appSettings>
    <add key="baseUrl" value="http://wikibus-test.gear.host/" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="apiUrl" value="http://wikibus-data-test.gear.host/" xdt:Transform="Replace" xdt:Locator="Match(key)" />
  </appSettings>
  <system.web>
      <customErrors mode="Off" xdt:Transform="Replace">
      </customErrors>
  </system.web>
</configuration>