<?xml version="1.0"?>

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <appSettings>
    <add key="baseUrl" value="http://data.wikibus.org/" xdt:Transform="Replace" xdt:Locator="Match(key)" />
  </appSettings>

  <connectionStrings configProtectionProvider="RsaProtectedConfigurationProvider" xdt:Transform="Replace">
    <EncryptedData Type="http://www.w3.org/2001/04/xmlenc#Element"
      xmlns="http://www.w3.org/2001/04/xmlenc#">
      <EncryptionMethod Algorithm="http://www.w3.org/2001/04/xmlenc#tripledes-cbc" />
      <KeyInfo xmlns="http://www.w3.org/2000/09/xmldsig#">
        <EncryptedKey xmlns="http://www.w3.org/2001/04/xmlenc#">
          <EncryptionMethod Algorithm="http://www.w3.org/2001/04/xmlenc#rsa-1_5" />
          <KeyInfo xmlns="http://www.w3.org/2000/09/xmldsig#">
            <KeyName>Rsa Key</KeyName>
          </KeyInfo>
          <CipherData>
            <CipherValue>d5k2QyVZrsO5P08MKJ0X88oyQx6BWovYIlif513se8jTnCgve7CcfWj/8PB3FyrpuxhkG2rS1mS1M7Gq5RQ9NqdRisGg++J4kvvGJFE4RAkbSBfg0QvmL0OmOEenYLaeoidEF5yYSRIS24F3IxACQWh1r7IBr6No7ry7QU0EW4I=</CipherValue>
          </CipherData>
        </EncryptedKey>
      </KeyInfo>
      <CipherData>
        <CipherValue>kvFH0+KB/+kjYzkUjP8BCBjYziQe+Ue8/1PjjeZo0HX/DmGKg5Mswt3PdbvbaM7qppEVmMjsN5wbbUIiHDoHI4w43lTKDjg/VOgA/TFrKaVQTJ9QcSGGyeI8kPT7VHaCPIAXU71ViaDlmjEKba87YesjX/rXmzmgQUuYTXCl5gFb4UPDD0OJsNK4OKWJiIxWWtQghch7ebt1ne+KwlnewBsuar0E0AneJcGI93oAciG/ZMrZv3ga58YEK0gDnprxgZTOY1E7DMRIv72mD1Zp2+DJjU96/72J</CipherValue>
      </CipherData>
    </EncryptedData>
  </connectionStrings>
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
  </system.web>
</configuration>