<?xml version="1.0"?>

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
    <connectionStrings configProtectionProvider="RsaProtectedConfigurationProvider">
        <EncryptedData Type="http://www.w3.org/2001/04/xmlenc#Element"
          xmlns="http://www.w3.org/2001/04/xmlenc#">
            <EncryptionMethod Algorithm="http://www.w3.org/2001/04/xmlenc#tripledes-cbc" />
            <KeyInfo xmlns="http://www.w3.org/2000/09/xmldsig#">
                <EncryptedKey xmlns="http://www.w3.org/2001/04/xmlenc#">
                    <EncryptionMethod Algorithm="http://www.w3.org/2001/04/xmlenc#rsa-1_5" />
                    <KeyInfo xmlns="http://www.w3.org/2000/09/xmldsig#">
                        <KeyName>Rsa Key</KeyName>
                    </KeyInfo>
                    <CipherData>
                        <CipherValue>0G/S1PVbPYJ3EUD8rpFpaePhlidejI1w8mI2CF4y5Ucb3A9ZiO1ahb4gbO9KLP2wE9BKqEkf2t59ydxExKVFUXzWEgWR38LUdAo7+RsLxsFE6UtgBdsCz23sudPt6fUKd4+a9TYDJGfm+J64GPM5dJX8F2WImwaCFG2YU8Moo3Y=</CipherValue>
                    </CipherData> 
                </EncryptedKey>
            </KeyInfo>
            <CipherData>
              <CipherValue>DrtyhteeXJPYHn5xWkFVep/tPI026bP2QGZUu0jHuTVQiA0Efq3azyb+enXd/UFQ1ItQUeK1jS8phruB2uewleNxUYJk81XZn7Spd0wnZyViaxRDFJzTTp+WOzlbyaUQpEqFd7qHw7YPRDHLknM5J90LF4O0K+nmzRSDKLnT4AdNEjbQE53n4zZhfXiNoDZjeodJtXgp8+xvDmr+4SbmaSZm+5oeE3G5rAsMyZA2Qbs0e+lUrWktrGkG19M+8ndSX5jaxsHInK3KFCExnkYbGjGGoJjWNBVb</CipherValue>
            </CipherData> 
        </EncryptedData>
    </connectionStrings>
    <system.web>
        <compilation xdt:Transform="RemoveAttributes(debug)" />
    </system.web>
</configuration>