<?xml version="1.0"?>

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
    <connectionStrings configProtectionProvider="RsaProtectedConfigurationProvider">
        <EncryptedData Type="http://www.w3.org/2001/04/xmlenc#Element"
          xmlns="http://www.w3.org/2001/04/xmlenc#">
            <EncryptionMethod Algorithm="http://www.w3.org/2001/04/xmlenc#tripledes-cbc" />
            <KeyInfo xmlns="http://www.w3.org/2000/09/xmldsig#">
                <EncryptedKey xmlns="http://www.w3.org/2001/04/xmlenc#">
                    <EncryptionMethod Algorithm="http://www.w3.org/2001/04/xmlenc#rsa-1_5" />
                    <KeyInfo xmlns="http://www.w3.org/2000/09/xmldsig#">
                        <KeyName>Rsa Key</KeyName>
                    </KeyInfo>
                    <CipherData>
                        <CipherValue>NiV3zqMShUadl2fQ8OMyUHefNE68Nu4mXE/wtWygvdo0Jf3PGP6M1oscAXKUIS3o6egGr6/uBfEl8gvqx43OCRzZglFPar8OWxro1savjKSygk8sKYfoYnA2uiSO6ZeGYTiH10yqkScey5ek7c22Oy/9eo4N6nxtYlgLHex4+LQ=</CipherValue>
                    </CipherData>
                </EncryptedKey>
            </KeyInfo>
            <CipherData>
                <CipherValue>Yr3h8mSUugTQpbsvjvAgvfJwbYdSdONSml+WyPSGLate9VXmdkLQIpG7DyV/MLItdiNoD1WhbwFLMJW64D6NtIymZolunqQXgXa0Zc12j6A7g95J4R7DLXtaxr+pi9oQyfxSmJ7ffmyTEfeumCDhKGgYzSZqDnEbafSDPRHwa5o74+KSgs8hcGYhhTnK+6lFx7HMYrzK8/zlo3VISE/ekZDzDLMVC/czCvLHKS0J8qMAmZR3+XupX4spBYoRkKYqAltkCxHjSupw1X2Ma8vsfQ==</CipherValue>
            </CipherData>
        </EncryptedData>
    </connectionStrings>
    <system.web>
        <compilation xdt:Transform="RemoveAttributes(debug)" />
    </system.web>
</configuration>