<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <!--<connectionStrings xdt:Transform="Replace">
    <add name="sql" connectionString="Server=(local)\SQL2008R2SP2;Database=wikibus_test;User ID=sa;Password=Password12!" />
    <add name="master" connectionString="Server=(local)\SQL2008R2SP2;Database=master;User ID=sa;Password=Password12!" />
  </connectionStrings>-->
</configuration>