<?xml version="1.0"?>

<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <appSettings>
    <add key="wikibus#baseUrl" value="http://wikibus.org/" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="wikibus#apiUrl" value="http://data.wikibus.org/" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="wikibus#websiteUrl" value="http://www.wikibus.org/" xdt:Transform="Replace" xdt:Locator="Match(key)" />
  </appSettings>
</configuration>